html,
body {
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 20px;
	text-align: right;

	::selection {
		background: #333;
		color: #fff;
	}
}

.range-slider {
	display: inline-block;
	padding: 0 10px;
	height: 20px;
	width: 130px;
}

.range-slider.disabled {
	opacity: 0.5;
}

.range-slider-inner {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

.range-slider-rail,
.range-slider-fill {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 10px;
	border-radius: 2px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.range-slider-rail {
	width: 100%;
	background-color: #e2e2e2;
}

.range-slider-fill {
	background-color: #21fb92;
}

.range-slider-knob {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border: 1px solid #f5f5f5;
	border-radius: 50%;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.range-slider-hidden {
	display: none;
}

.slider {
	/* overwrite slider styles */
	width: 100% !important;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.bg-green {
	background-color: #006634;
}

.bg-green-light {
	background-color: #44ac33;
}

.text-green {
	color: #006634;
}

.text-green-light {
	color: #44ac33;
}

.header-container {
	position: relative;
	max-width: 820px;
	margin: 0 auto;
}

.header-border {
	position: relative;
	padding-right: 15px;
	line-height: 1;

	&::after {
		content: "";
		position: absolute;
		display: block;
		height: 100%;
		width: 5px;
		right: 0;
		top: 0;
		background-color: #006634;
	}
}

img {
	max-width: 100%;
}

.main-menu {
	position: relative;
	padding: 10px 0;

	a,
	button {
		padding: 0;
		color: #000;
		text-decoration: none !important;
		font-size: 30px;
		font-weight: 500;

		&:hover {
			color: #006634;
		}

		position: relative;
	}

	.router-link-active.router-link-exact-active:not(.logo) {
		color: #006634;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: #3ba936;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.nav-i {
			margin: 0 20px;

			&:first-child {
				max-width: 250px;
			}
		}

		.dropdown-menu {
			text-align: center;

			a {
				font-size: 24px;
				font-weight: normal;
				line-height: 2;
				color: #006634;

				&.dropdown-item.active {
					color: #fff;
					background-color: #44ac33;
				}

				&:active {
					background-color: lighten(#44ac33, 50%);
				}

				&:hover {
					background-color: lighten(#44ac33, 50%);
				}
			}
		}
	}
}

.short-form {
	position: relative;
	padding: 40px 0;
	background-color: #006634;

	h2 {
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
		font-size: 2.8rem;
	}

	input,
	button {
		height: 60px;
		border-radius: 0;
		border: solid 4px white !important;
		color: white;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
	}

	input,
	textarea {
		background-color: #000;
	}

	button {
	}

	::placeholder {
		color: #fff;
		font-weight: bold;
		font-size: 24px;
	}

	&.big-form {
		background-color: #fff;
		padding-top: 0;

		input,
		button,
		textarea {
			border: solid 1px #000 !important;
		}
	}
}

.filter {
	position: relative;

	// padding: 40px 0;
	img {
		opacity: 0.8;
	}
}

.asakim {
	position: relative;
	padding: 40px 0;
	border-top: solid 10px #c5cb33;
}

.bottom-form {
	position: relative;
	background-color: gray;
	padding: 80px 0;

	h2 {
		text-align: right;
		padding-right: 15px;
		margin-bottom: 40px;
	}

	input,
	button {
		height: 44px;
		line-height: 0.9;
	}

	input {
		background-color: gray;
	}
}

.footer {
	position: relative;
	border-top: solid 10px #fff;
	background-color: #44ac33;
	padding: 50px 0;

	nav {
		.nav-i,
		.nav-i button {
			color: #fff;
			font-size: 26px;

			&:hover {
				color: #000;
			}
		}
	}

	.router-link-active.router-link-exact-active:not(.logo) {
		color: #000;

		&::after {
			background-color: #000;
		}
	}
}

.service-text {
	font-size: 24px;
	font-weight: 500;
	padding-top: 50px;
	padding-bottom: 20px;
}

.s-text {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	position: relative;

	.b-1 {
		margin-bottom: 20px;
	}

	a,
	.s-t {
		color: #000;
		font-size: 26px;
		display: inline-block;
	}

	.ch-b-1 {
		position: absolute;
		right: -25px;
		top: 0;
	}

	.ch-b {
		display: inline-block;
		padding-right: 30px;
	}
}

.building-page {
	position: relative;

	.building-text {
		padding: 60px 0 40px;
		position: relative;

		.b-text {
			display: flex;
			font-size: 26px;
			line-height: 1.2;
			font-weight: 500;
			align-items: flex-start;
			z-index: 3;

			.rig {
				white-space: nowrap;
			}
		}

		.b-number {
			user-select: none;
			font-size: 260px;
			text-align: center;
			line-height: 0;
			font-weight: bold;
			display: flex;
			align-items: baseline;
			padding: 120px 32px 0;
			position: absolute;
			background: white;
			// z-index: 2;
			top: -220px;
			right: 0;

			img {
				max-width: 120px;
			}

			span {
				display: inline-block;
				letter-spacing: -10px;
			}
		}
	}
}

.offices-list {
	position: relative;

	.video-block {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;

		.video-image {
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.fz-18 {
	h6 {
		font-weight: 500;
		line-height: 1;
		font-size: 18px;
	}
}

.fz-20 {
	h6 {
		font-weight: 500;
		line-height: 1;
		font-size: 22px;
	}
}

.all-modal {
	position: relative;

	#modal1,
	.body-off {
		padding: 0 !important;
	}

	.head-off {
		padding: 3px 10px;
		border: none;

		h6 {
			font-size: 18px;
			line-height: 1.6;
		}

		.close {
			margin: -1rem auto -1rem -1rem;
		}
	}
}
