html,
body {
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 20px;
	text-align: right;
	::selection {
		background: #333;
		color: #fff;
	}
}

.text-green {
	color: #006634;
}

.header-border {
	position: relative;
	padding-right: 15px;
	line-height: 1;
	&::after {
		content: "";
		position: absolute;
		display: block;
		height: 100%;
		width: 5px;
		right: 0;
		top: 0;
		background-color: #006634;
	}
}

img {
	max-width: 100%;
}

.main-menu {
	position: relative;
	padding: 10px 0;
	a,
	button {
		padding: 0;
		color: #000;
		text-decoration: none !important;
		font-size: 30px;
		font-weight: 500;
		&:hover {
			color: #006634;
		}
		position: relative;
	}
	.router-link-active.router-link-exact-active:not(.logo) {
		color: #006634;
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: #3ba936;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		.nav-i {
			margin: 0 20px;
			&:first-child {
				max-width: 250px;
			}
		}
		.dropdown-menu {
			text-align: center;
			a {
				font-size: 24px;
				font-weight: normal;
				line-height: 2;
				color: #006634;
				&.dropdown-item.active {
					color: #fff;
					background-color: #44ac33;
				}
				&:active {
					background-color: lighten(#44ac33, 50%);
				}
				&:hover {
					background-color: lighten(#44ac33, 50%);
				}
			}
		}
	}
}

.short-form {
	position: relative;
	padding: 40px 0;
	background-color: #006634;
	h2 {
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
		font-size: 2.8rem;
	}
	input,
	button {
		height: 60px;
		border-radius: 0;
		border: solid 4px white !important;
		color: white;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
	}
	input {
		background-color: #000;
	}
	button {
	}
	::placeholder {
		color: #fff;
		font-weight: bold;
		font-size: 24px;
	}
}
.filter {
	position: relative;
	// padding: 40px 0;
	img {
		opacity: 0.8;
	}
}
.asakim {
	position: relative;
	padding: 40px 0;
	border-top: solid 10px #c5cb33;
}

.bottom-form {
	position: relative;
	background-color: gray;
	padding: 80px 0;
	h2 {
		text-align: right;
		padding-right: 15px;
		margin-bottom: 40px;
	}
	input,
	button {
		height: 44px;
		line-height: 0.9;
	}
	input {
		background-color: gray;
	}
}

.footer {
	position: relative;
	border-top: solid 10px #fff;
	background-color: #44ac33;
	padding: 50px 0;
	nav {
		.nav-i,
		.nav-i button {
			color: #fff;
			font-size: 26px;
			&:hover {
				color: #000;
			}
		}
	}
	.router-link-active.router-link-exact-active:not(.logo) {
		color: #000;
		&::after {
			background-color: #000;
		}
	}
}
