@media (max-width: 1025px) {
	.building-page {
		.building-text {
			padding: 20px 0;
			position: relative;
			.b-text {
				display: flex;
				font-size: 22px;
				line-height: 1.2;
				font-weight: 500;
				align-items: flex-start;
				z-index: 3;
				.rig {
					white-space: nowrap;
				}
			}
			.b-number {
				font-size: 150px;
				text-align: center;
				line-height: 0;
				font-weight: bold;
				display: flex;
				align-items: baseline;
				padding: 60px 20px 40px;
				position: absolute;
				background: white;
				top: -110px;
				right: 0;
				img {
					max-width: 80px;
				}
			}
		}
	}
}

@media (max-width: 769px) {
	.search-results {
		.fz-20 {
			h6 {
				font-weight: 500;
				line-height: 1;
				font-size: 18px;
			}
		}
	}
	.building-banner {
		display: none;
	}
	.header-container {
		max-width: 620px;
	}
	.main-menu {
		a,
		button {
			font-size: 20px;
		}
		nav {
			align-items: center;
			.nav-i:first-child {
				max-width: 200px;
			}

			.dropdown-menu {
				a {
					font-size: 18px;
					font-weight: normal;
					color: #44ac33;
					line-height: 2;
					&.dropdown-item.active {
						color: #fff;
						background-color: #44ac33;
					}
					&:active {
						background-color: lighten(#44ac33, 50%);
					}
					&:hover {
						background-color: lighten(#44ac33, 50%);
					}
				}
			}
		}
	}
	.building-page {
		.building-text {
			.b-text {
				display: flex;
				font-size: 22px;
			}
		}
	}
}

@media (max-width: 575.98px) {
	img.fit {
		min-height: 220px;
		object-fit: cover;
		object-position: center;
	}
	h1 {
		font-size: 2rem;
		line-height: 1;
	}
	.main-menu {
		.container {
			padding: 0;
		}
		a {
			font-size: 18px;
			padding: 7px 5px;
			line-height: 1;
			vertical-align: middle;
		}
		button {
			padding: 6px 5px;
			font-size: 18px;
			line-height: 1;
			vertical-align: middle;
		}
		nav {
			margin-bottom: 5px;
			display: block;
			margin: auto;
			text-align: center;
			.nav-i {
				&:first-child {
					margin: auto;
					width: 100%;
					text-align: center;
					margin-bottom: 10px;
					display: block;
				}
				&:not(:first-child) {
					display: inline-block;
					margin: 0 4px;
					// box-shadow: 0 0 5px silver;
				}
			}

			.dropdown-menu {
				a {
					font-size: 20px;

					font-weight: normal;
					color: #44ac33;
					&.dropdown-item.active {
						color: #fff;
						background-color: #44ac33;
					}
					&:active {
						background-color: lighten(#44ac33, 50%);
					}
					&:hover {
						background-color: lighten(#44ac33, 50%);
					}
				}
			}
		}
	}
	.bottom-form {
		position: relative;
		background-color: gray;
		padding: 40px 0;
		.hfm {
			display: none;
		}
		span {
			display: block;
		}
		h2 {
			text-align: center;
			padding-right: 0;
			margin-bottom: 20px;
			font-size: 2rem;
		}
	}
	.asakim {
		position: relative;
		padding: 40px 0 0;
	}
	.footer {
		padding: 20px 0;
		a,
		button {
			font-size: 18px !important;
		}
		nav {
			// flex-direction: column;
			.nav-i {
				display: inline-block;
				vertical-align: middle;
				&:first-child {
					max-width: 250px;
					text-align: center;
					margin-bottom: 5px;
					// margin-top: 20px;
					order: 2;
				}
				&:not(:first-child) {
					display: none;
					margin: 3px;
					box-shadow: none;
					padding: 0 5px;
				}
			}
			.dropdown-menu.show {
				transform: translate3d(-1px, 40px, 0px) !important;
			}
		}
	}
	.service-text {
		font-size: 20px;
		font-weight: normal;
		padding-top: 20px;
		padding-bottom: 0;
	}

	.s-text {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.building-page {
		.building-text {
			.b-text {
				font-size: 20px;
				line-height: 1.2;
			}
			.b-number {
				font-size: 100px;
				padding: 50px 15px 20px;
				top: -140px;
				img {
					max-width: 50px;
				}
				span {
					letter-spacing: 0;
				}
			}
		}
	}
}
